@use '@scss/base/variables' as *;

html {
  font-size: 10px;
}

body {
  font-family: $fontFam;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

canvas {
  background-color: $theme-800;
}

.title {
  text-align: center;
}

h1 {
  color: white;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

h4 {
  color: $theme-blue;
  font-size: 1.8rem;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: rgba($theme-800, 70%);

  width: 100%;
  padding-inline: 5rem;
  padding-block: 2.5rem;
  transform: translateX(-50%);
}

button {
  font-size: 1.4rem;
  color: white;
  font-family: 'Space Mono';
  background-color: $theme-orange;
  border: 0;
  padding-inline: 1.6rem;
  padding-block: 0.8rem;
  
  &.focus {
    background-color: darken($theme-orange, 10%)
  }
}

button[data-type="secondary"] {
  background-color: $theme-blue;
  
  &.focus {
    background-color: darken($theme-blue, 10%)
  }
}